<div class="page-header">
  <h1><%= project.name %> - <%= title %></h1>

  <ul class="pills">
      <li><a href="/projects/<%= project.id %>/iterations">Todos</a></li>
      <li><a href="/projects/<%= project.id %>/iterations/current">Actual</a></li>
      <li><a href="/projects/<%= project.id %>/iterations/current_backlog">Actual y Backlog</a></li>
      <li><a href="/projects/<%= project.id %>/iterations/backlog">Backlog</a></li>
      <li><a href="/projects/<%= project.id %>/iterations/done/1">Terminados</a></li>
    </ul>
</div>
<div class="row">
  <div class="span16">
    <b>Sprint #<%= iteration.number %></b>
    <br/>
    <p>Inicio: <%= iteration.start %></p>
    <p>Fin: <%= iteration.end %></p>
    <p>FF: %<%= iteration.strength %></p>
    <p>VE: <%= iteration.storyAmm %></p>
    <p>TE: <%= iteration.tasksAmm %></p>
    <hr/>
    <% if (iteration.stories.length) { %>
      <ul>
        <% iteration.stories.forEach(function(s){ %>
          <li>

            <%= s.name %>
            <% if (s.tasks.length) { %>
              <ul>
                <% s.tasks.forEach(function(t){ %>
                  <li>
                    <%= t.description %>
                    <br/>
                    <%= t.estimate %>
                  </li>
                <% }) %>
              </ul>
            <% } %>
                    
          </li>
        <% }) %>
      </ul>
    <% } %>
  </div>
</div>