
<div class="page-header">
  <h1><a id="hproject" href="/projects/<%= project.id %>"><%= project.name %></a> - <%= title %></h1>

  <ul class="nav nav-pills">
      <li class="active"><a href="#current">Actual</a></li>
      <li><a href="#current_backlog">Actual y Backlog</a></li>
      <li><a href="#backlog">Backlog</a></li>
  </ul>
</div>

<div class="row">
  <div class="span8">
    <ul>
      <li><a href="/projects/<%= project.id %>/iterations/current/print" target="_blank">Imprimir Actual</a></li>
      <li><a href="/projects/<%= project.id %>/iterations/current_backlog/print" target="_blank">Imprimir Actual y Backlog</a></li>
      <li><a href="/projects/<%= project.id %>/iterations/backlog/print" target="_blank">Imprimir Backlog</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span8">
    <ul id="sprints"></ul>
  </div>
</div>

<script id="tmplSprint" type="text/x-jquery-tmpl">
  <li>
    <p><b>Sprint #${number}</b> - 
    	<a href="/projects/<%= project.id %>/iterations/burnDown" target="_blank">burn down</a>
    	</p>
    <p>Inicio: ${start}</p>
    <p>Fin: ${end}</p>
    <p>FF: %${strength}</p>
    <p>VE: ${storyAmm}</p>
    <p>TE: ${tasksAmm}</p>
    <a class="stories">Historias (${stories.length})</a>
    <ul class="storyList">
      {{each stories}}
        <li>
          [${estimate} pts] ${name}
        </li>
      {{/each}}
    </ul>
    <hr/>
  </li>
</script>

<script type="text/javascript" src="/js/views/iteration.js" ></script>