<% if (stories.length) { %>
    <% stories.forEach(function(s){ %>
		<div id="<%= s.id %>" class="story">
			<div class="header">
				<span class="release">Contrato Marco</span>
				<span class="itemNbr">Backlog item #<%= s.id %></span>
				<span class="project"><%= s.project.name %></span>
			</div>
			<div class="body">
				<div class="left">
					<div class="name"><%= s.name %></div>
					<div class="description"><%= s.description %></div>
					<div class="notes">[notas]</div>
				</div>
				<div class="right">
					<div class="priority">I: <%= s.priority %></div>
					<div class="estimation">E: <%= s.estimate %>
						<div class="bottom">
							<span>F.I.: <%= s.started %></span>
							<span>F.F.: <%= s.finished %></span>
						</div>
					</div>
				</div>
			<div>
		</div>
    <% }) %>
<% } %>





