
<div class="page-header">
	<h1><a href="/projects/<%= project.id %>"><%= project.name %></a> - <%= title %></h1>

	<ul class="pills">
      <li><a href="/projects/<%= project.id %>/stories">Todas</a></li>
      <li><a href="/projects/<%= project.id %>/stories/type/bug">Bugs</a></li>
      <li><a href="/projects/<%= project.id %>/stories/type/feature">Requerimientos</a></li>
      <li><a href="/projects/<%= project.id %>/stories/type/chore">Tareas</a></li>
      <li><a href="/projects/<%= project.id %>/stories/type/release">Releases</a></li>
  </ul>
</div>
<div class="row">
  <div class="span16">
    <h2></h2>
		<% if (stories.length) { %>
		    <% stories.forEach(function(s){ %>
		    	<% if (s.type === "feature") { %>
					<div id="<%= s.id %>" class="story">
						<div class="header">
							<span class="release"><%= s.label %></span>
							<span class="itemNbr">Backlog item #<%= s.id %></span>
							<span class="project"><%= s.project.name %></span>
						</div>
						<div class="body">
							<div class="left">
								<div class="name"><%= s.name %></div>
								<div class="description"><%= s.description %></div>
								<div class="notes">[notas]</div>
							</div>
							<div class="right">
								<div class="priority">I: <%= s.priority %></div>
								<div class="estimation">E: <%= s.estimate %>
									<div class="bottom">
										<span>F.I.: <%= s.started %></span>
										<span>F.F.: <%= s.finished %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% } %>
				<% if (s.type === "chore") { %>
					<div id="<%= s.id %>" class="chore">
						<div class="header">
							<span class="release">TAREA</span>
							<span class="itemNbr">Backlog item #<%= s.id %></span>
							<span class="project"><%= s.project.name %></span>
						</div>
						<div class="body">
							<div class="left">
								<div class="name"><%= s.name %></div>
							</div>
							<div class="right">
								<div class="priority">I: <%= s.priority %></div>
							</div>
						</div>
					</div>
				<% } %>
				<% if (s.type === "release") { %>
					<div id="<%= s.id %>" class="chore release">
						<div class="header">
							<span class="release">RELEASE</span>
							<span class="itemNbr">Backlog item #<%= s.id %></span>
							<span class="project"><%= s.project.name %></span>
						</div>
						<div class="body">
							<div class="left">
								<div class="name"><%= s.name %></div>
							</div>
							<div class="right">
								<div class="priority">I: <%= s.priority %></div>
							</div>
						</div>
					</div>
				<% } %>
		    <% }) %>
		<% } %>

	</div>
</div>




